# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
venv/
env/

# Sensitive files
passwords.txt
key.key

# macOS
.DS_Store

# VS Code
.vscode/

# Byte-compiled
*.egg-info/
dist/
build/
